<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="login">
    <h2>Login</h2>

    <div class="error-message" style="color: red;" th:if="${param.error}">
        Invalid username or password
    </div>
    <div class="error-message" style="color: red;" th:if="${param.logout}">
        You have been logged out
    </div>

    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" value = "Log in">Login</button>
        <p class="register-link">Don't have an account? <b><a th:href="@{/register}">Register here</a></b></p>
    </form>
</div>
</body>
</html>
